{{- define "main" -}}
<div class="wrapper list-page">
    <main class="page-content" aria-label="Content">
        {{ range .Pages.GroupByDate "2006" }}
        {{ $year := .Key }}
        <h2 class="post-year">{{ $year }}</h2>

        {{ range .Pages }}
        {{ partial "postCard" (dict "Page" .) }}
        {{ end }}

        {{ end }}
    </main>
</div>
<img
    src="{{ "images/calligraphy-jiansubaopu.png" | relURL }}"
    width="540"
    height="288"
    class="blog-corner-scroll"
    alt=""
    aria-hidden="true"
>
{{- end -}}
